.todo_app {
  height: 100vh; 
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  height: 10%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.task_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.tododiv {
  height: 80%;
  width: 80%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 5vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow-y: scroll;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.tasktext {
  height: 5vh;
  width: 80vh;
  outline: none;
  border: none;
  padding-left: 2vh;
  padding-right: 2vh;
  background: #F8F8F8;
  border-radius: 20px;
  margin-right: 2vh;
  font-size: 18px;
}

.taskpriority {
  height: 5vh;
  width: 30vh;
  outline: none;
  border: none;
  background:#F8F8F8;
  border-radius: 10px;
  padding-left: 2vh;
  padding-right: 3vh;
  margin-right: 2vh;
  font-size: 18px;
}

.addbutton {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}